*{
	font-family: verdana;
	font-size: 30px;
	text-align: center;
	color: white;
}

body{
	background:linear-gradient(-90deg,#0048ce,#008bfd); 
	height: 100%;
	}

#a1{
	background: #e2e2e2;
	border: none;
	color: black;
	width: 50%;
}

#a1:focus {
  outline: none;
}
#a2:focus {
  outline: none;
}

#a2{
	background: #e2e2e2;
	border: none;
	color: black;
	width: 60%;
}

.container{
    width: 70%;
    min-width: 450px;
	height: 40vh;
    background-color: #1c1e21;
    padding: 2vh 2vh;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 15px;
    box-shadow: 0 15px 20px rgba(0,0,0,0.15);
}

#form{
	margin-top: 2%;
	margin-bottom: 2%;
	height: 40vh;
	/* top: 20%; */
	/* position: absolute;  */
	/* display:inline-block */
 	/* justify-content: center; */
	
}


input{
/*	width: 23%;
	min-width: 300px;*/
	padding: 10px;
	border-radius: 14px;
	/* font-size: 3vh; */

}

#btn{
	border: none;
	width: 180px;
	color: white;
	background: #d40027;
	padding: 10px 24px;
	margin-top: 0%;
	cursor: pointer;
	box-shadow: 4px 8px 12px 0 rgba(38,38,38,0.2)
}

#btn:hover{
	/*background-color: #909090;*/
	background-color: #b10424;
}

#btn:active{
	/*background-color: #656464;*/
	background-color: #610214;
	box-shadow: 4px 8px 12px 0 rgba(0,0,0,0.35)
}

#btn2{
	border: none;
	width: 120px;
	color: white;
	background: #008bfd;
	padding: 10px 24px;
	margin-top: 2%;
	cursor: pointer;
	box-shadow: 4px 8px 12px 0 rgba(38,38,38,0.2)
}

#btn2:hover{
	/*background-color: #909090;*/
	background-color: #0179da;
}

#btn2:active{
	/*background-color: #656464;*/
	background-color: #025eaa;
	box-shadow: 4px 8px 12px 0 rgba(0,0,0,0.35)
}

#h1{
	font-family: verdana;
	/* font-size: 50px; */
	font-size: 	6vh;
	text-align: center;
	color: white;
	margin-top: 90px;
	margin-right: 90px;
	margin-left: 90px;
	/* color: #1c1e21; */
}

footer {
	position: absolute;
	right: 0;bottom:0;left:0;
  }

#f2{
	font-size: 3vh;
	color: #1c1e21;
}


@media screen and (min-device-width: 768px)
    and (max-device-width: 1024px) {
    .container{
		/* background: #d40027; */
		/* height: 40vh; */
		padding-bottom: 6vh;
	}

	.form1{
		font-size: 1.5em;
		/* min-height: 100vh; */
		/* margin-top: auto; */
		/* margin: auto; */
		/* position: absolute;
		top: 25%; */
		/* transform: translate(-50%); */
		/* font-size: 2.5vh; */
		/* vertical-align: middle; */
		/* left      : 50%; */
		/* top       : auto; */
		position  : absolute;
		transform : translate(0%, 0%);
		margin-top: 2vh;
		margin-bottom: 2vh;
		/* position: absolute;
		transform: translate(-50%,-50%);
		top: 50%;
		left: 50%; */
	}

		#a1{
			width: 70%;
		}

		#a2{
			width: 80%;
		}

		#btn2{
			margin-top: 2vh;
		}
}


/* For Mobile Portrait View */
@media screen and (max-device-width: 768px)
    and (orientation: portrait) {
  

		.form1{

			font-size: 1.5em;
			position  : absolute;
			transform : translate(0%, 0%);
			margin-top: 5vh;
			margin-bottom: 5vh; 

		}
	
		input{
				
				padding: 14px;
				border-radius: 20px;

			}

		#a1{
			width: 70%;
		}

		#a2{
			width: 80%;
		}

		#btn2{
			margin-top: 2vh;
		}

}